filehash
flake8
numpy
libsass
PILLOW
ptvsd
PySide2
pythonnet; python_version < "3.9"
pythonnet==3.0.0a2; python_version >= "3.9"
pypiwin32
qtpy
watchdog
gitpython

# web scraping
beautifulsoup4
requests
tqdm

# Jupyter
jupyter
notebook
matplotlib